.name {
  color: var(--white-text);
  font-family: var(--header-font);
  font-size: 5rem;
}

.cube {
  top: -8rem !important;
}

.center-row {
  margin-top: 10rem !important;
}

.p-max-40-rem {
  max-width: 30rem;
}

.beginning {
  min-height: 100vh;
}

.como {
  font-size: 20px;
}


.theme-btn {
  /* background-color: rgba(240, 248, 255, 0.701); */
  background-color: var(--highlights);
  border: solid #7B92F9 14px;
  text-align: center;
  font-weight: 700;
  width: 150px;
  margin-top: 15px;
  color: var(--theme-black);
  text-decoration: none;

}

.theme-btn:hover {
  background-color: var(--highlights);
  border: solid #7B92F9 14px;
  text-decoration: none;
  color: var(--theme-black);
  box-shadow: -8px 5px aliceblue;
}

.blue-hl {
  color: var(--highlights);
}

@media screen and (max-width: 480px) {
  .name::after {
    display: none;
  }

  .beginning {
    margin: 0
  }

  .email-btn,
  .lottie {
    display: none;
  }

  body {
    background: var(--theme-black) !important;
  }

  .project-btn {
    position: relative;
    top: 0;
    left: 0;
  }
}