:root {
  --main-text: #fff;
  --theme-color: black;
  --highlights: #50ccb4;
  --bold-text: #fff;
  --main-font: 'Calibre, "San Francisco", "SF Pro Text"';
}

.name {
  color: #fff;
 font-family: 'Poller One', cursive;
  font-size: 5rem;
}

.cube{
  top: -8rem !important;
}
/* .name::after {
  content: "";
  background-color: #F23F60;
  border-color: #F23F60;
  border-style: solid;
  height: 5px;
  display: inline-flex;
  position: absolute;
  top: 32px;
  width: 40rem;
  margin-left: 2rem;
} */

 .center-row {
  margin-top: 10rem !important;
 }

.p-max-40-rem{
  max-width: 30rem;
}

.beginning {
  min-height: 100vh;
}

.como {
  font-size: 20px;
}


.theme-btn {
  /* background-color: rgba(240, 248, 255, 0.701); */
  background-color: #7B92F9;
  border: solid #7B92F9 14px;
  width: 150px;
  margin-top: 15px;
  color: black;
  text-decoration: none;
  
}


/* .project-btn {
  position: relative;
  top: 6.2rem;
  left: 12rem;
} */


.theme-btn:hover {
  background-color: #63F27D;
  border: solid #63F27D 14px;
  text-decoration: none;
  color: black;
}

.blue-hl {
  color: #7B92F9;
}

@media screen and (max-width: 480px) {
  .name::after {
    display: none;
  }

  .beginning {
    margin: 0
  }

  .email-btn, .lottie {
    display: none;
  }

  body {
    background: black !important;
  }

  .project-btn {
    position: relative;
    top: 0;
    left: 0;
  }
}