

.sideBar ul li .icons{
    margin-top: 40px;
}


.resumeP{
    text-align: center;
}

.iconP{
    font-size: 30px;
  
}

.icons{
    font-size: 30px;
  
}

.icons:hover, .iconP:hover{
    color:#50ccb4

}
a {
    text-decoration: none;
    color: rgb(168, 178, 209);
}

.sideBar{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: rgb(168, 178, 209);
    visibility: visible;

}

.sideBar ul{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;  
}

@media only screen and (max-width: 1328px)  {
    .sideBar{ 
        visibility: hidden;
        position: absolute;
  }
}