

.wrkName {
  color: #fff;
  font-family: 'Poller One', cursive;
  font-size: 5rem;
}


.theme-border {
  border: #F2C84B .5rem solid;
  background: black;
  border-radius: 1rem;
  box-shadow: 14px 10px 45px black;
}

@media screen and (max-width: 480px) {
  .wrkName {
    font-size: 2rem;
  }

  .beginning {
    margin: 0
  }
}
