

.wrkName {
  color: #fff;
  font-family: 'Poller One', cursive;
  font-size: 5rem;
}


.theme-border {
  border: var(--theme-color) .5rem solid;
  background: var(--theme-black);
  border-radius: 1rem;
  box-shadow: 14px 10px 45px black;
}

.workSec li {
  color: #fff;
  margin-bottom: .5rem;
}

@media screen and (max-width: 480px) {
  .wrkName {
    font-size: 2rem;
  }

  .beginning {
    margin: 0
  }
}
