.sun-style {
  border-radius: 30px;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  padding: 0.6rem;
  margin-left: 25px;
  margin-top: 25px;
  position: fixed;
}

.sun-style :hover {
  color: orange;
}




