
.nav-item{
    letter-spacing: 4px;
    font-size: 15px;
    margin: 10px;
    font-family: 'lucida fax, "Montserrat", "SF Pro Text"' #8892b0; 
}

.navbar-toggler {
    background-color: #F2C84B !important;
}

.navbar-toggler:hover{
    color: #091c38;
  }

  .nav-link{
    color: #8892b0 !important;
    font-weight: 500;
    font-size: 2rem !important;
    }

    .nav-link:hover{

        border-bottom: #54eec4 3px solid;
        color: #fff !important;
        width: 16rem;
    }

    .highlight{
        color: var(--highlights);
        letter-spacing: 0px;
        margin-right: 0px;
    }
    
    .mr{
        margin-right: 12px;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: transparent;
        justify-content: right !important;
    
    }

   li.nav-item > a.nav-link {
        text-transform: uppercase;
    }