body {
  background: linear-gradient(to right, #F2C84B 0, #F2C84B 7%, #1f1f1f 7%, #1f1f1f 55%, #F2C84B 55%, #F2C84B 95%, #F2C84B 95%, #F2C84B 100%);
  background-image: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
:root {
  --white-text: #fff;
  --theme-color: #F2C84B;
  --theme-black:#1f1f1f;
  --highlights: #7B92F9;
  --header-font: 'Poller One', 'cursive;';
  --para-font:  'Montserrat, "Montserrat", "SF Pro Text"';
}

.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1328px)  {
  .sun-style {
    display: none;
  }

  /* body {
    background: linear-gradient(to right, black 0, black 50%, #F2C84B 50%, #F2C84B 100%) !important;
  } */
}

@media (min-width: 1400px) {
.container {
    max-width: 1140px !important;
}
}