.mtc {
  color: black;
}

.hrt {
  border-top: 2px solid black;
}

.aboutHeader{
 
  font-family: 'Poller One', cursive;
  color: #fff;
  font-size: 5rem;
}

.mypic {
  width: 29rem !important;
  left: 79px;
}

p {
  color: #fff;
  font-size: 20px;
}

@media only screen and (max-width: 1328px) {
  .about {
    margin-top: 200px;
  }

  .mypic {
    left: 0;
  }
}

@media only screen and (max-width: 1328px) {
  .about {
    margin-top: 200px;
  }
}



.ml-20 {
  margin-left: 12rem;
}