
.aboutHeader{
 
  font-family: var(--header-font);
  color: var(--white-text);
  font-size: 5rem;
}

.mypic {
  width: 29rem !important;
  left: 79px;
}

p {
  color: var(--white-text);
  font-size: 20px;
}

@media only screen and (max-width: 1328px) {
  .about {
    margin-top: 200px;
  }

  .mypic {
    left: 0;
  }
}

@media only screen and (max-width: 1328px) {
  .about {
    margin-top: 200px;
  }
}
.ml-20 {
  margin-left: 12rem;
}